<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.fund.mapper.FundDetailInfoMapper">
  <resultMap id="BaseResultMap" type="com.lyh.fund.domain.FundDetailInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="fund_name" jdbcType="VARCHAR" property="fundName" />
    <result column="fund_pinyin" jdbcType="VARCHAR" property="fundPinyin" />
    <result column="fund_date" jdbcType="DATE" property="fundDate" />
    <result column="net_asset_value" jdbcType="DECIMAL" property="netAssetValue" />
    <result column="accumulated_net" jdbcType="DECIMAL" property="accumulatedNet" />
    <result column="daily_grow_rate" jdbcType="DECIMAL" property="dailyGrowRate" />
    <result column="nearly_1_week_grow_rate" jdbcType="DECIMAL" property="nearly1WeekGrowRate" />
    <result column="nearly_1_month_grow_rate" jdbcType="DECIMAL" property="nearly1MonthGrowRate" />
    <result column="nearly_3_month_grow_rate" jdbcType="DECIMAL" property="nearly3MonthGrowRate" />
    <result column="nearly_6_month_grow_rate" jdbcType="DECIMAL" property="nearly6MonthGrowRate" />
    <result column="nearly_1_year_grow_rate" jdbcType="DECIMAL" property="nearly1YearGrowRate" />
    <result column="nearly_2_year_grow_rate" jdbcType="DECIMAL" property="nearly2YearGrowRate" />
    <result column="nearly_3_year_grow_rate" jdbcType="DECIMAL" property="nearly3YearGrowRate" />
    <result column="since_this_year_grow_rate" jdbcType="DECIMAL" property="sinceThisYearGrowRate" />
    <result column="since_establish_grow_rate" jdbcType="DECIMAL" property="sinceEstablishGrowRate" />
    <result column="nearly_1_year_wave_rate" jdbcType="DECIMAL" property="nearly1YearWaveRate" />
    <result column="nearly_2_year_wave_rate" jdbcType="DECIMAL" property="nearly2YearWaveRate" />
    <result column="nearly_3_year_wave_rate" jdbcType="DECIMAL" property="nearly3YearWaveRate" />
    <result column="nearly_1_year_sharp_rate" jdbcType="DECIMAL" property="nearly1YearSharpRate" />
    <result column="nearly_2_year_sharp_rate" jdbcType="DECIMAL" property="nearly2YearSharpRate" />
    <result column="nearly_3_year_sharp_rate" jdbcType="DECIMAL" property="nearly3YearSharpRate" />
    <result column="establish_date" jdbcType="DATE" property="establishDate" />
    <result column="fund_manager" jdbcType="VARCHAR" property="fundManager" />
    <result column="manager_start_date" jdbcType="DATE" property="managerStartDate" />
    <result column="previous_fund_manager" jdbcType="VARCHAR" property="previousFundManager" />
    <result column="previous_manager_start_date" jdbcType="DATE" property="previousManagerStartDate" />
    <result column="unknown_1" jdbcType="INTEGER" property="unknown1" />
    <result column="custom" jdbcType="DECIMAL" property="custom" />
    <result column="service_charge_rate" jdbcType="DECIMAL" property="serviceChargeRate" />
    <result column="discount_service_charge_rate" jdbcType="DECIMAL" property="discountServiceChargeRate" />
    <result column="discount_rate" jdbcType="DECIMAL" property="discountRate" />
    <result column="unknown_2" jdbcType="DECIMAL" property="unknown2" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, fund_code, fund_name, fund_pinyin, fund_date, net_asset_value, accumulated_net, 
    daily_grow_rate, nearly_1_week_grow_rate, nearly_1_month_grow_rate, nearly_3_month_grow_rate, 
    nearly_6_month_grow_rate, nearly_1_year_grow_rate, nearly_2_year_grow_rate, nearly_3_year_grow_rate, 
    since_this_year_grow_rate, since_establish_grow_rate, nearly_1_year_wave_rate, nearly_2_year_wave_rate, 
    nearly_3_year_wave_rate, nearly_1_year_sharp_rate, nearly_2_year_sharp_rate, nearly_3_year_sharp_rate, 
    establish_date, fund_manager, manager_start_date, previous_fund_manager, previous_manager_start_date, 
    unknown_1, custom, service_charge_rate, discount_service_charge_rate, discount_rate, 
    unknown_2, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lyh.fund.domain.FundDetailInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fund_detail_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_detail_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fund_detail_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lyh.fund.domain.FundDetailInfoExample">
    delete from fund_detail_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lyh.fund.domain.FundDetailInfo">
    insert into fund_detail_info (id, fund_code, fund_name, 
      fund_pinyin, fund_date, net_asset_value, 
      accumulated_net, daily_grow_rate, nearly_1_week_grow_rate, 
      nearly_1_month_grow_rate, nearly_3_month_grow_rate, 
      nearly_6_month_grow_rate, nearly_1_year_grow_rate, 
      nearly_2_year_grow_rate, nearly_3_year_grow_rate, 
      since_this_year_grow_rate, since_establish_grow_rate, 
      nearly_1_year_wave_rate, nearly_2_year_wave_rate, 
      nearly_3_year_wave_rate, nearly_1_year_sharp_rate, 
      nearly_2_year_sharp_rate, nearly_3_year_sharp_rate, 
      establish_date, fund_manager, manager_start_date, 
      previous_fund_manager, previous_manager_start_date, 
      unknown_1, custom, service_charge_rate, 
      discount_service_charge_rate, discount_rate, 
      unknown_2, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{fundCode,jdbcType=VARCHAR}, #{fundName,jdbcType=VARCHAR}, 
      #{fundPinyin,jdbcType=VARCHAR}, #{fundDate,jdbcType=DATE}, #{netAssetValue,jdbcType=DECIMAL}, 
      #{accumulatedNet,jdbcType=DECIMAL}, #{dailyGrowRate,jdbcType=DECIMAL}, #{nearly1WeekGrowRate,jdbcType=DECIMAL}, 
      #{nearly1MonthGrowRate,jdbcType=DECIMAL}, #{nearly3MonthGrowRate,jdbcType=DECIMAL}, 
      #{nearly6MonthGrowRate,jdbcType=DECIMAL}, #{nearly1YearGrowRate,jdbcType=DECIMAL}, 
      #{nearly2YearGrowRate,jdbcType=DECIMAL}, #{nearly3YearGrowRate,jdbcType=DECIMAL}, 
      #{sinceThisYearGrowRate,jdbcType=DECIMAL}, #{sinceEstablishGrowRate,jdbcType=DECIMAL}, 
      #{nearly1YearWaveRate,jdbcType=DECIMAL}, #{nearly2YearWaveRate,jdbcType=DECIMAL}, 
      #{nearly3YearWaveRate,jdbcType=DECIMAL}, #{nearly1YearSharpRate,jdbcType=DECIMAL}, 
      #{nearly2YearSharpRate,jdbcType=DECIMAL}, #{nearly3YearSharpRate,jdbcType=DECIMAL}, 
      #{establishDate,jdbcType=DATE}, #{fundManager,jdbcType=VARCHAR}, #{managerStartDate,jdbcType=DATE}, 
      #{previousFundManager,jdbcType=VARCHAR}, #{previousManagerStartDate,jdbcType=DATE}, 
      #{unknown1,jdbcType=INTEGER}, #{custom,jdbcType=DECIMAL}, #{serviceChargeRate,jdbcType=DECIMAL}, 
      #{discountServiceChargeRate,jdbcType=DECIMAL}, #{discountRate,jdbcType=DECIMAL}, 
      #{unknown2,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lyh.fund.domain.FundDetailInfo">
    insert into fund_detail_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fundCode != null">
        fund_code,
      </if>
      <if test="fundName != null">
        fund_name,
      </if>
      <if test="fundPinyin != null">
        fund_pinyin,
      </if>
      <if test="fundDate != null">
        fund_date,
      </if>
      <if test="netAssetValue != null">
        net_asset_value,
      </if>
      <if test="accumulatedNet != null">
        accumulated_net,
      </if>
      <if test="dailyGrowRate != null">
        daily_grow_rate,
      </if>
      <if test="nearly1WeekGrowRate != null">
        nearly_1_week_grow_rate,
      </if>
      <if test="nearly1MonthGrowRate != null">
        nearly_1_month_grow_rate,
      </if>
      <if test="nearly3MonthGrowRate != null">
        nearly_3_month_grow_rate,
      </if>
      <if test="nearly6MonthGrowRate != null">
        nearly_6_month_grow_rate,
      </if>
      <if test="nearly1YearGrowRate != null">
        nearly_1_year_grow_rate,
      </if>
      <if test="nearly2YearGrowRate != null">
        nearly_2_year_grow_rate,
      </if>
      <if test="nearly3YearGrowRate != null">
        nearly_3_year_grow_rate,
      </if>
      <if test="sinceThisYearGrowRate != null">
        since_this_year_grow_rate,
      </if>
      <if test="sinceEstablishGrowRate != null">
        since_establish_grow_rate,
      </if>
      <if test="nearly1YearWaveRate != null">
        nearly_1_year_wave_rate,
      </if>
      <if test="nearly2YearWaveRate != null">
        nearly_2_year_wave_rate,
      </if>
      <if test="nearly3YearWaveRate != null">
        nearly_3_year_wave_rate,
      </if>
      <if test="nearly1YearSharpRate != null">
        nearly_1_year_sharp_rate,
      </if>
      <if test="nearly2YearSharpRate != null">
        nearly_2_year_sharp_rate,
      </if>
      <if test="nearly3YearSharpRate != null">
        nearly_3_year_sharp_rate,
      </if>
      <if test="establishDate != null">
        establish_date,
      </if>
      <if test="fundManager != null">
        fund_manager,
      </if>
      <if test="managerStartDate != null">
        manager_start_date,
      </if>
      <if test="previousFundManager != null">
        previous_fund_manager,
      </if>
      <if test="previousManagerStartDate != null">
        previous_manager_start_date,
      </if>
      <if test="unknown1 != null">
        unknown_1,
      </if>
      <if test="custom != null">
        custom,
      </if>
      <if test="serviceChargeRate != null">
        service_charge_rate,
      </if>
      <if test="discountServiceChargeRate != null">
        discount_service_charge_rate,
      </if>
      <if test="discountRate != null">
        discount_rate,
      </if>
      <if test="unknown2 != null">
        unknown_2,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundCode != null">
        #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="fundName != null">
        #{fundName,jdbcType=VARCHAR},
      </if>
      <if test="fundPinyin != null">
        #{fundPinyin,jdbcType=VARCHAR},
      </if>
      <if test="fundDate != null">
        #{fundDate,jdbcType=DATE},
      </if>
      <if test="netAssetValue != null">
        #{netAssetValue,jdbcType=DECIMAL},
      </if>
      <if test="accumulatedNet != null">
        #{accumulatedNet,jdbcType=DECIMAL},
      </if>
      <if test="dailyGrowRate != null">
        #{dailyGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1WeekGrowRate != null">
        #{nearly1WeekGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1MonthGrowRate != null">
        #{nearly1MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3MonthGrowRate != null">
        #{nearly3MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly6MonthGrowRate != null">
        #{nearly6MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1YearGrowRate != null">
        #{nearly1YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly2YearGrowRate != null">
        #{nearly2YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3YearGrowRate != null">
        #{nearly3YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="sinceThisYearGrowRate != null">
        #{sinceThisYearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="sinceEstablishGrowRate != null">
        #{sinceEstablishGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1YearWaveRate != null">
        #{nearly1YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly2YearWaveRate != null">
        #{nearly2YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3YearWaveRate != null">
        #{nearly3YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1YearSharpRate != null">
        #{nearly1YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly2YearSharpRate != null">
        #{nearly2YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3YearSharpRate != null">
        #{nearly3YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="establishDate != null">
        #{establishDate,jdbcType=DATE},
      </if>
      <if test="fundManager != null">
        #{fundManager,jdbcType=VARCHAR},
      </if>
      <if test="managerStartDate != null">
        #{managerStartDate,jdbcType=DATE},
      </if>
      <if test="previousFundManager != null">
        #{previousFundManager,jdbcType=VARCHAR},
      </if>
      <if test="previousManagerStartDate != null">
        #{previousManagerStartDate,jdbcType=DATE},
      </if>
      <if test="unknown1 != null">
        #{unknown1,jdbcType=INTEGER},
      </if>
      <if test="custom != null">
        #{custom,jdbcType=DECIMAL},
      </if>
      <if test="serviceChargeRate != null">
        #{serviceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="discountServiceChargeRate != null">
        #{discountServiceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null">
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="unknown2 != null">
        #{unknown2,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lyh.fund.domain.FundDetailInfoExample" resultType="java.lang.Long">
    select count(*) from fund_detail_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fund_detail_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fundCode != null">
        fund_code = #{record.fundCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fundName != null">
        fund_name = #{record.fundName,jdbcType=VARCHAR},
      </if>
      <if test="record.fundPinyin != null">
        fund_pinyin = #{record.fundPinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.fundDate != null">
        fund_date = #{record.fundDate,jdbcType=DATE},
      </if>
      <if test="record.netAssetValue != null">
        net_asset_value = #{record.netAssetValue,jdbcType=DECIMAL},
      </if>
      <if test="record.accumulatedNet != null">
        accumulated_net = #{record.accumulatedNet,jdbcType=DECIMAL},
      </if>
      <if test="record.dailyGrowRate != null">
        daily_grow_rate = #{record.dailyGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly1WeekGrowRate != null">
        nearly_1_week_grow_rate = #{record.nearly1WeekGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly1MonthGrowRate != null">
        nearly_1_month_grow_rate = #{record.nearly1MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly3MonthGrowRate != null">
        nearly_3_month_grow_rate = #{record.nearly3MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly6MonthGrowRate != null">
        nearly_6_month_grow_rate = #{record.nearly6MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly1YearGrowRate != null">
        nearly_1_year_grow_rate = #{record.nearly1YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly2YearGrowRate != null">
        nearly_2_year_grow_rate = #{record.nearly2YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly3YearGrowRate != null">
        nearly_3_year_grow_rate = #{record.nearly3YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.sinceThisYearGrowRate != null">
        since_this_year_grow_rate = #{record.sinceThisYearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.sinceEstablishGrowRate != null">
        since_establish_grow_rate = #{record.sinceEstablishGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly1YearWaveRate != null">
        nearly_1_year_wave_rate = #{record.nearly1YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly2YearWaveRate != null">
        nearly_2_year_wave_rate = #{record.nearly2YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly3YearWaveRate != null">
        nearly_3_year_wave_rate = #{record.nearly3YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly1YearSharpRate != null">
        nearly_1_year_sharp_rate = #{record.nearly1YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly2YearSharpRate != null">
        nearly_2_year_sharp_rate = #{record.nearly2YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="record.nearly3YearSharpRate != null">
        nearly_3_year_sharp_rate = #{record.nearly3YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="record.establishDate != null">
        establish_date = #{record.establishDate,jdbcType=DATE},
      </if>
      <if test="record.fundManager != null">
        fund_manager = #{record.fundManager,jdbcType=VARCHAR},
      </if>
      <if test="record.managerStartDate != null">
        manager_start_date = #{record.managerStartDate,jdbcType=DATE},
      </if>
      <if test="record.previousFundManager != null">
        previous_fund_manager = #{record.previousFundManager,jdbcType=VARCHAR},
      </if>
      <if test="record.previousManagerStartDate != null">
        previous_manager_start_date = #{record.previousManagerStartDate,jdbcType=DATE},
      </if>
      <if test="record.unknown1 != null">
        unknown_1 = #{record.unknown1,jdbcType=INTEGER},
      </if>
      <if test="record.custom != null">
        custom = #{record.custom,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceChargeRate != null">
        service_charge_rate = #{record.serviceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.discountServiceChargeRate != null">
        discount_service_charge_rate = #{record.discountServiceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.discountRate != null">
        discount_rate = #{record.discountRate,jdbcType=DECIMAL},
      </if>
      <if test="record.unknown2 != null">
        unknown_2 = #{record.unknown2,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fund_detail_info
    set id = #{record.id,jdbcType=INTEGER},
      fund_code = #{record.fundCode,jdbcType=VARCHAR},
      fund_name = #{record.fundName,jdbcType=VARCHAR},
      fund_pinyin = #{record.fundPinyin,jdbcType=VARCHAR},
      fund_date = #{record.fundDate,jdbcType=DATE},
      net_asset_value = #{record.netAssetValue,jdbcType=DECIMAL},
      accumulated_net = #{record.accumulatedNet,jdbcType=DECIMAL},
      daily_grow_rate = #{record.dailyGrowRate,jdbcType=DECIMAL},
      nearly_1_week_grow_rate = #{record.nearly1WeekGrowRate,jdbcType=DECIMAL},
      nearly_1_month_grow_rate = #{record.nearly1MonthGrowRate,jdbcType=DECIMAL},
      nearly_3_month_grow_rate = #{record.nearly3MonthGrowRate,jdbcType=DECIMAL},
      nearly_6_month_grow_rate = #{record.nearly6MonthGrowRate,jdbcType=DECIMAL},
      nearly_1_year_grow_rate = #{record.nearly1YearGrowRate,jdbcType=DECIMAL},
      nearly_2_year_grow_rate = #{record.nearly2YearGrowRate,jdbcType=DECIMAL},
      nearly_3_year_grow_rate = #{record.nearly3YearGrowRate,jdbcType=DECIMAL},
      since_this_year_grow_rate = #{record.sinceThisYearGrowRate,jdbcType=DECIMAL},
      since_establish_grow_rate = #{record.sinceEstablishGrowRate,jdbcType=DECIMAL},
      nearly_1_year_wave_rate = #{record.nearly1YearWaveRate,jdbcType=DECIMAL},
      nearly_2_year_wave_rate = #{record.nearly2YearWaveRate,jdbcType=DECIMAL},
      nearly_3_year_wave_rate = #{record.nearly3YearWaveRate,jdbcType=DECIMAL},
      nearly_1_year_sharp_rate = #{record.nearly1YearSharpRate,jdbcType=DECIMAL},
      nearly_2_year_sharp_rate = #{record.nearly2YearSharpRate,jdbcType=DECIMAL},
      nearly_3_year_sharp_rate = #{record.nearly3YearSharpRate,jdbcType=DECIMAL},
      establish_date = #{record.establishDate,jdbcType=DATE},
      fund_manager = #{record.fundManager,jdbcType=VARCHAR},
      manager_start_date = #{record.managerStartDate,jdbcType=DATE},
      previous_fund_manager = #{record.previousFundManager,jdbcType=VARCHAR},
      previous_manager_start_date = #{record.previousManagerStartDate,jdbcType=DATE},
      unknown_1 = #{record.unknown1,jdbcType=INTEGER},
      custom = #{record.custom,jdbcType=DECIMAL},
      service_charge_rate = #{record.serviceChargeRate,jdbcType=DECIMAL},
      discount_service_charge_rate = #{record.discountServiceChargeRate,jdbcType=DECIMAL},
      discount_rate = #{record.discountRate,jdbcType=DECIMAL},
      unknown_2 = #{record.unknown2,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyh.fund.domain.FundDetailInfo">
    update fund_detail_info
    <set>
      <if test="fundCode != null">
        fund_code = #{fundCode,jdbcType=VARCHAR},
      </if>
      <if test="fundName != null">
        fund_name = #{fundName,jdbcType=VARCHAR},
      </if>
      <if test="fundPinyin != null">
        fund_pinyin = #{fundPinyin,jdbcType=VARCHAR},
      </if>
      <if test="fundDate != null">
        fund_date = #{fundDate,jdbcType=DATE},
      </if>
      <if test="netAssetValue != null">
        net_asset_value = #{netAssetValue,jdbcType=DECIMAL},
      </if>
      <if test="accumulatedNet != null">
        accumulated_net = #{accumulatedNet,jdbcType=DECIMAL},
      </if>
      <if test="dailyGrowRate != null">
        daily_grow_rate = #{dailyGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1WeekGrowRate != null">
        nearly_1_week_grow_rate = #{nearly1WeekGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1MonthGrowRate != null">
        nearly_1_month_grow_rate = #{nearly1MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3MonthGrowRate != null">
        nearly_3_month_grow_rate = #{nearly3MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly6MonthGrowRate != null">
        nearly_6_month_grow_rate = #{nearly6MonthGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1YearGrowRate != null">
        nearly_1_year_grow_rate = #{nearly1YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly2YearGrowRate != null">
        nearly_2_year_grow_rate = #{nearly2YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3YearGrowRate != null">
        nearly_3_year_grow_rate = #{nearly3YearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="sinceThisYearGrowRate != null">
        since_this_year_grow_rate = #{sinceThisYearGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="sinceEstablishGrowRate != null">
        since_establish_grow_rate = #{sinceEstablishGrowRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1YearWaveRate != null">
        nearly_1_year_wave_rate = #{nearly1YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly2YearWaveRate != null">
        nearly_2_year_wave_rate = #{nearly2YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3YearWaveRate != null">
        nearly_3_year_wave_rate = #{nearly3YearWaveRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly1YearSharpRate != null">
        nearly_1_year_sharp_rate = #{nearly1YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly2YearSharpRate != null">
        nearly_2_year_sharp_rate = #{nearly2YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="nearly3YearSharpRate != null">
        nearly_3_year_sharp_rate = #{nearly3YearSharpRate,jdbcType=DECIMAL},
      </if>
      <if test="establishDate != null">
        establish_date = #{establishDate,jdbcType=DATE},
      </if>
      <if test="fundManager != null">
        fund_manager = #{fundManager,jdbcType=VARCHAR},
      </if>
      <if test="managerStartDate != null">
        manager_start_date = #{managerStartDate,jdbcType=DATE},
      </if>
      <if test="previousFundManager != null">
        previous_fund_manager = #{previousFundManager,jdbcType=VARCHAR},
      </if>
      <if test="previousManagerStartDate != null">
        previous_manager_start_date = #{previousManagerStartDate,jdbcType=DATE},
      </if>
      <if test="unknown1 != null">
        unknown_1 = #{unknown1,jdbcType=INTEGER},
      </if>
      <if test="custom != null">
        custom = #{custom,jdbcType=DECIMAL},
      </if>
      <if test="serviceChargeRate != null">
        service_charge_rate = #{serviceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="discountServiceChargeRate != null">
        discount_service_charge_rate = #{discountServiceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null">
        discount_rate = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="unknown2 != null">
        unknown_2 = #{unknown2,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyh.fund.domain.FundDetailInfo">
    update fund_detail_info
    set fund_code = #{fundCode,jdbcType=VARCHAR},
      fund_name = #{fundName,jdbcType=VARCHAR},
      fund_pinyin = #{fundPinyin,jdbcType=VARCHAR},
      fund_date = #{fundDate,jdbcType=DATE},
      net_asset_value = #{netAssetValue,jdbcType=DECIMAL},
      accumulated_net = #{accumulatedNet,jdbcType=DECIMAL},
      daily_grow_rate = #{dailyGrowRate,jdbcType=DECIMAL},
      nearly_1_week_grow_rate = #{nearly1WeekGrowRate,jdbcType=DECIMAL},
      nearly_1_month_grow_rate = #{nearly1MonthGrowRate,jdbcType=DECIMAL},
      nearly_3_month_grow_rate = #{nearly3MonthGrowRate,jdbcType=DECIMAL},
      nearly_6_month_grow_rate = #{nearly6MonthGrowRate,jdbcType=DECIMAL},
      nearly_1_year_grow_rate = #{nearly1YearGrowRate,jdbcType=DECIMAL},
      nearly_2_year_grow_rate = #{nearly2YearGrowRate,jdbcType=DECIMAL},
      nearly_3_year_grow_rate = #{nearly3YearGrowRate,jdbcType=DECIMAL},
      since_this_year_grow_rate = #{sinceThisYearGrowRate,jdbcType=DECIMAL},
      since_establish_grow_rate = #{sinceEstablishGrowRate,jdbcType=DECIMAL},
      nearly_1_year_wave_rate = #{nearly1YearWaveRate,jdbcType=DECIMAL},
      nearly_2_year_wave_rate = #{nearly2YearWaveRate,jdbcType=DECIMAL},
      nearly_3_year_wave_rate = #{nearly3YearWaveRate,jdbcType=DECIMAL},
      nearly_1_year_sharp_rate = #{nearly1YearSharpRate,jdbcType=DECIMAL},
      nearly_2_year_sharp_rate = #{nearly2YearSharpRate,jdbcType=DECIMAL},
      nearly_3_year_sharp_rate = #{nearly3YearSharpRate,jdbcType=DECIMAL},
      establish_date = #{establishDate,jdbcType=DATE},
      fund_manager = #{fundManager,jdbcType=VARCHAR},
      manager_start_date = #{managerStartDate,jdbcType=DATE},
      previous_fund_manager = #{previousFundManager,jdbcType=VARCHAR},
      previous_manager_start_date = #{previousManagerStartDate,jdbcType=DATE},
      unknown_1 = #{unknown1,jdbcType=INTEGER},
      custom = #{custom,jdbcType=DECIMAL},
      service_charge_rate = #{serviceChargeRate,jdbcType=DECIMAL},
      discount_service_charge_rate = #{discountServiceChargeRate,jdbcType=DECIMAL},
      discount_rate = #{discountRate,jdbcType=DECIMAL},
      unknown_2 = #{unknown2,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>